<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('vendor/bootstrap/css/bootstrap.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('vendor/font-awesome/css/font-awesome.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('vendor/animate/animate.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('vendor/simple-line-icons/css/simple-line-icons.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('vendor/owl.carousel/assets/owl.carousel.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('vendor/owl.carousel/assets/owl.theme.default.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('vendor/magnific-popup/magnific-popup.min.css')) }}">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('css/theme.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/theme-elements.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/theme-blog.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/theme-shop.css')) }}">

    <!-- Demo CSS -->


    <!-- Skin CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('css/skins/default.css')) }}">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('css/custom.css')) }}">

    <!-- Head Libs -->
    <script src="{{ absolute_url(asset('vendor/modernizr/modernizr.min.js')) }}"></script>

</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
