<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    
    <!-- CSS
	============================================ -->
    <!-- Custom Style CSS -->
    {% block stylecss %}{% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/bootstrap.min.css')) }}">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/font-awesome.min.css')) }}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/plugins.css')) }}">
    <!-- rypp -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/rypp.css')) }}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/style.css')) }}">
    <!-- Modernizer JS -->
    <script src="{{ absolute_url(asset('assests/front/js/vendor/modernizr-2.8.3.min.js')) }}"></script>
</head>

<body>

<!-- Main Wrapper -->
<div id="main-wrapper">
    
    <!-- Header Top Start -->
    <div class="header-top section">
        <div class="container">
            <div class="row">
               
                <!-- Header Top Links Start -->
                <div class="header-top-links col-md-9 col-6">
                    
                    <!-- Header Links -->
                    <ul class="header-links">
                        <li><a href="#"><i class="fa fa-user-circle-o"></i>{{ app.user.prenom }} {{ app.user.nom }}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i>Logout</a></li>
                    </ul>
                    
                </div><!-- Header Top Links End -->
                
                <!-- Header Top Social Start -->
                <div class="header-top-social col-md-3 col-6">
                    
                    <!-- Header Social -->
                    <div class="header-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                    
                </div><!-- Header Top Social End -->
                
            </div>
        </div>
    </div><!-- Header Top End -->
    
    <!-- Header Start -->
    <div class="header-section section">
        <div class="container">
            <div class="row align-items-center">
               
                <!-- Header Logo -->
                <div class="header-logo col-md-4 d-none d-md-block">

                    <a href="index.html" class="logo"><img src="{{ absolute_url(asset('img/logo.png')) }}" alt="Logo"></a>
                </div>
                
                <!-- Header Banner -->
                <div class="header-banner col-md-8 col-12">

                    <div class="banner"><a href="#"><img src="{{ absolute_url(asset('img/banner/header-banner-1.png')) }}" alt="Header Banner"></a></div>
                </div>
                
            </div>
        </div>
    </div><!-- Header End -->
    
    <!-- Menu Section Start -->
    <div class="menu-section section bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="menu-section-wrap">

                        <!-- Main Menu Start -->
                        <div class="main-menu float-left d-none d-md-block">
                            <nav>
                                <ul>
									<li><a href="#">Accueil</a></li>
									<li><a href="#">Les Actualité</a></li>
                                    <li class="has-dropdown"><a href="{{ path('alecso_evenement_homepage_user') }}">Les Evenements</a>
                                        <!-- Submenu Start -->
                                        <ul class="sub-menu">
                                            <li><a href="{{ path('alecso_evenement_participe_view_user') }}">Evenemnemts Parteciper</a></li>
                                            <li><a href="{{ path('alecso_evenement_user_search') }}">Rechercher Evenements</a></li>
                                        </ul><!-- Submenu End -->
                                    </li>
									<li><a href="#">Les Competitions</a></li>
                                    <li><a href="{{ path('alecso_offre_view_user') }}">Les Offres de Travailles</a></li>
                                    <li><a href="{{ path('alecso_cv_viewCv_user') }}">CV En Ligne</a></li>

                                </ul>
                            </nav>
                        </div><!-- Main Menu Start -->

                        <div class="mobile-logo d-none d-block d-md-none"><a href="#"><img src="{{ absolute_url(asset('img/logo-white.png')) }}" alt="Logo"></a></div>
                        
                        <!-- Mobile Menu Wrap -->
                        <div class="mobile-menu-wrap d-none">
                            <nav>
                                <ul>
									<li><a href="#">Accueil</a></li>
									<li><a href="#">Les Actualité</a></li>
                                    <li class="has-dropdown"><a href="{{ path('alecso_evenement_homepage_user') }}">Les Evenements</a>
                                        <!-- Submenu Start -->
                                        <ul class="sub-menu">
                                            <li><a href="{{ path('alecso_evenement_participe_view_user') }}">Evenemnemts Parteciper</a></li>
                                        </ul><!-- Submenu End -->
                                    </li>
                                    <li><a href="#">Les Competitions</a></li>
                                    <li><a href="{{ path('alecso_offre_homepage_user') }}">Les Offres de Travailles</a></li>
                                </ul>
                            </nav>
                        </div>
                        
                        <!-- Mobile Menu -->
                        <div class="mobile-menu"></div>

                    </div>
                </div>
            </div>
        </div>
    </div><!-- Menu Section End -->
    {% block breakingnews %}
    <!-- Breaking News Section Start -->
    <div class="breaking-news-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Breaking News Wrapper Start -->
                    <div class="breaking-news-wrapper">

                        <!-- Breaking News Title -->
                        <h5 class="breaking-news-title float-left">Breaking News</h5>

                        <!-- Breaking Newsticker Start -->
                        <ul class="breaking-news-ticker float-left">
                            <li><a href="#">Tell me what you today, And i ‘ll tell you who you are!!!</a></li>
                            <li><a href="#">Fashion is about some thing that comes from with in you.</a></li>
                            <li><a href="#">Australia announced squad for Bangladesh tour.</a></li>
                            <li><a href="#">How group of rebel are talking on Banasree epidemic.</a></li>
                        </ul><!-- Breaking Newsticker Start -->

                        <!-- Breaking News Nav -->
                        <div class="breaking-news-nav">
                            <button class="news-ticker-prev"><i class="fa fa-angle-left"></i></button>
                            <button class="news-ticker-next"><i class="fa fa-angle-right"></i></button>
                        </div>

                    </div><!-- Breaking News Wrapper End -->

                </div>
            </div>
        </div>
    </div><!-- Breaking News Section End -->
    {% endblock %}
    <!-- Blog Section Start -->
    <div class="blog-section section mt-20">
        <div class="container">

            <!-- Feature Post Row Start -->
            <div class="row">
                {% block body %}
                <div class="col-md-8 col-md-offset-2">

                    <!-- Single Blog Start -->
                    <div class="single-blog mb-50">
                        <div class="blog-wrap">

                            <!-- Meta -->
                            <div class="meta fix">
                                <a href="#" class="meta-item author"><img src="img/post/post-author-1.jpg" alt="post author">Sathi Bhuiyan</a>
                                <span class="meta-item date"><i class="fa fa-clock-o"></i>10 March 2017</span>
                            </div>

                            <!-- Title -->
                            <h3 class="title"><a href="blog-details.html">The top 7 collections of New York fashion week.</a></h3>

                            <!-- Image -->
                            <a href="blog-details.html" class="image"><img src="img/post/post-132.jpg" alt="post"></a>

                            <!-- Content -->
                            <div class="content">

                                <!-- Description -->
                                <p>There are many variations of passages of  have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators. <br>
                                On the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>

                                <!-- Read More -->
                                <a href="blog-details.html" class="read-more">continue reading</a>

                            </div>

                        </div>
                    </div><!-- Single Blog End -->


                    <div class="page-pagination-2 text-center">
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                    
                </div>

            {% endblock %}
            </div><!-- Feature Post Row End -->
            
        </div>
    </div><!-- Blog Section End -->
 <!-- Footer Top Section Start -->
    <div class="footer-top-section section ">
        <div class="container">
            <div class="row">
                <!-- Footer Top Section Start -->
				<footer id="footer">
						<div class="container">
							<div class="row">
								<div class="col-lg-3">
									<div class="newsletter">
										<h4>Newsletter</h4>
										<p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>
					
										<div class="alert alert-success d-none" id="newsletterSuccess">
											<strong>Success!</strong> You've been added to our email list.
										</div>
					
										<div class="alert alert-danger d-none" id="newsletterError"></div>
									</div>
								</div>
								<div class="col-lg-3">
									<h4>Latest Tweets</h4>
									<div id="tweet" class="twitter" data-plugin-tweets data-plugin-options="{'username': '', 'count': 2}">
										<p>Please wait...</p>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="contact-details">
										<h4>Contact Us</h4>
										<ul class="contact">
											<li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name, United States</p></li>
											<li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> (123) 456-789</p></li>
											<li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></p></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-2">
									<h4>Follow Us</h4>
									<ul class="social-icons">
										<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
										<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
										<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					

				</footer>  
            </div>
			
        </div>
		<div class="footer-copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-1">
							<a href="index.html" class="logo">
								<!--<img alt="Porto Website Template" class="img-fluid" src="img/logo-footer.png"> -->
							</a>
						</div>
						<div class="col-lg-7">
							<p>© Copyright 2019. All Rights Reserved.</p>
						</div>
						<div class="col-lg-4">
							<nav id="sub-menu">
								<ul>
									<li><a href="#">FAQ's</a></li>
									<li><a href="#">Sitemap</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
		</div>
    </div><!-- Footer Top Section End -->
    
	
    
    
</div>


<!-- JS
============================================ -->
{% block javascript %}
{% endblock %}
<!-- jQuery JS -->
<script src="{{ absolute_url(asset('assests/front/js/vendor/jquery-1.12.0.min.js')) }}"></script>
<!-- Popper JS -->
<script src="{{ absolute_url(asset('assests/front/js/popper.min.js')) }}"></script>
<!-- Bootstrap JS -->
<script src="{{ absolute_url(asset('assests/front/js/bootstrap.min.js')) }}"></script>
<!-- Plugins JS -->
<script src="{{ absolute_url(asset('assests/front/js/plugins.js')) }}"></script>
<!-- rypp JS -->
<script src="{{ absolute_url(asset('assests/front/js/rypp.js')) }}"></script>
<!-- Ajax Mail JS -->
<script src="{{ absolute_url(asset('assests/front/js/ajax-mail.js')) }}"></script>
<!-- Main JS -->
<script src="{{ absolute_url(asset('assests/front/js/main.js')) }}"></script>
</body>

</html>