{% extends "adminBack.html.twig" %}
{% block title %}Ajouter Un Nouveau Offre{% endblock %}
{% block pagetitle %}Ajouter Un Nouveau Offre : {% endblock %}
{% block barebutton %}
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="{{ absolute_url(asset('')) }}app_dev.php/offres/admin/offre/view">
                    <span class="h4"> Gestion des Offre </span> <i class="fa fa-wrench"></i>
                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                {{ form_start(form) }}
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    </div>
                    <h2 class="panel-title">Ajouter Nouveau Offre</h2>
                </header>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Offre Title</label>
                        <div class="col-md-6">
                            {{ form_row(form.title , {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputSuccess">Type</label>
                        <div class="col-md-6">
                            {{ form_row(form.type , {'attr':{'class':'form-control mb-md'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputSuccess">Type</label>
                        <div class="col-md-6">
                            {{ form_row(form.categorie , {'attr':{'class':'form-control mb-md'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputHelpText">Description</label>
                        <div class="col-md-6">
                            {{ form_row(form.description , {'attr':{'class':'form-control mb-md' ,'placeholder':'Type your message'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputRounded">Date Debut</label>
                        <div class="col-md-6">
                            {{ form_row(form.date_create) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputRounded">Date Fin</label>
                        <div class="col-md-6">

                            {{ form_row(form.date_fin) }}

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputPlaceholder">Ville</label>
                        <div class="col-md-6">

                            {{ form_row(form.ville , {'attr':{'class':'form-control mb-md'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Adresse</label>
                        <div class="col-md-6">
                            {{ form_row(form.adresse , {'attr':{'class':'form-control mb-md'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Code Postal</label>
                        <div class="col-md-6">
                            {{ form_row(form.code_post , {'attr':{'class':'form-control mb-md'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="profileBio">Images</label>
                        <div class="col-md-8">
                            <span class="btn btn-default btn-file">
                                {{ form_row(form.media , {'attr':{'class':'form-control'}}) }}
                            </span>
                        </div>
                    </div>


                </div>
                <div class="panel-footer">
                    <div class="row">

                        <div class="col-md-9 col-md-offset-8">
                            <input type="submit" value="Envoyer" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </section>

        </div>
    </div>

{% endblock %}