<!doctype html>
<html class="fixed sidebar-left-collapsed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">
    <title>Admin - {% block title %}Welcome!{% endblock %}</title>

    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->

    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/bootstrap/css/bootstrap.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/font-awesome/css/font-awesome.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/magnific-popup/magnific-popup.css')) }}" />

    <link rel="stylesheet" href=" {{ absolute_url(asset('assests/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css')) }}" />
    <link rel="stylesheet" href=" {{ absolute_url(asset('assests/vendor/bootstrap-datepicker/css/bootstrap-datepicker.css')) }}" />
    <!-- Specific Page Vendor CSS -->

    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/owl.carousel/assets/owl.carousel.css')) }}" />

    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/owl.carousel/assets/owl.theme.default.css')) }}" />

    <!-- Theme CSS -->

    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/theme.css')) }}" />

    <!-- Skin CSS -->

    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/skins/default.css')) }}" />

    <!-- Theme Custom CSS -->

    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/theme-custom.css')) }}">

    <!-- Head Libs -->

    <script src="{{ absolute_url(asset('assests/vendor/modernizr/modernizr.js')) }}"></script>

</head>
<body>
<!-- start: page -->

<div class="col-md-8 col-lg-6 col-md-offset-3" style="margin-top:50px;">
    <section class="panel panel-featured">
        <div class="tabs">
            <div class="tab-content">
                <div id="overview" class="tab-pane active">

                    <div id="edit" class="tab-pane">
                        {{ form_start(formpart, {'attr': { 'name':'formpart' }})  }}
                            <h4 class="mb-xlg">Information</h4>

                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileFirstName">Nom </label>
                                    <div class="col-md-8">
                                        {{ form_row(formpart.nom , {'attr':{'class':'form-control', 'id':'profileFirstName'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileLastName">Type</label>
                                    <div class="col-md-8">
                                        {{ form_row(formpart.type , {'attr':{'class':'form-control', 'id':'profileLastName'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileLastName">Telephone 1</label>
                                    <div class="col-md-8">
                                        {{ form_row(formpart.tel1 , {'attr':{'class':'form-control', 'id':'profileLastName'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileLastName">Telephone 2</label>
                                    <div class="col-md-8">
                                        {{ form_row(formpart.tel2 , {'attr':{'class':'form-control', 'id':'profileLastName'}}) }}
                                    </div>
                                </div>
                            </fieldset>
                            <hr class="dotted tall">
                            <h4 class="mb-xlg">Adresse</h4>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileAddress">Ville</label>
                                    <div class="col-md-8">
                                        {{ form_row(formpart.ville , {'attr':{'class':'form-control', 'id':'profileAddress'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileAddress">Address</label>
                                    <div class="col-md-8">
                                        {{ form_row(formpart.adresse , {'attr':{'class':'form-control', 'id':'profileAddress'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileAddress">Code Postal</label>
                                    <div class="col-md-8">
                                        {{ form_row(formpart.codepost , {'attr':{'class':'form-control', 'id':'profileAddress'}}) }}
                                    </div>
                                </div>
                            </fieldset>
                            <hr class="dotted tall">
                            <h4 class="mb-xlg">Description Generale</h4>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileBio">Description</label>
                                    <div class="col-md-8">
                                        {{ form_row(formpart.description , {'attr':{'class':'form-control', 'id':'profileBio'}}) }}
                                    </div>
                                </div>
                            </fieldset>
                            <hr class="dotted tall">
                            <h4 class="mb-xlg">Images</h4>
                            <fieldset class="mb-xl">
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileBio">Images d'organisation</label>
                                    <div class="col-md-8">
                                        {{ form_row(formpart.media , {'attr':{'class':'form-control'}}) }}
                                    </div>
                                </div>
                            </fieldset>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-9 col-md-offset-8">
                                        <input type="submit" value="Submit" class="btn btn-primary"/>
                                    </div>
                                </div>
                            </div>

                            {{ form_end(formpart) }}

                    </div>


                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>