{% extends "userFront.html.twig" %}
{% block title %}Bienvenue{% endblock %}
{% block stylecss %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/owl.carousel/assets/owl.carousel.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/styleinitShow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/styleShow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/owl.carousel/assets/owl.theme.default.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/bootstrap/css/bootstrap.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/font-awesome/css/font-awesome.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/magnific-popup/magnific-popup.css')) }}" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/skins/default.css')) }}" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/theme-custom.css')) }}">

{% endblock %}

