{% extends "userFront.html.twig" %}
{% block title %}Evenements{% endblock %}
{% block stylecss %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/owl.carousel/assets/owl.carousel.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/styleinitShow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/styleShow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/owl.carousel/assets/owl.theme.default.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/bootstrap/css/bootstrap.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/font-awesome/css/font-awesome.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/magnific-popup/magnific-popup.css')) }}" />

    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/theme.css')) }}" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/skins/default.css')) }}" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/theme-custom.css')) }}">

{% endblock %}
{% block body %}
    <style>

        .sub-menu li { display: block; border-bottom: 1px solid #f1f1f1; }

        .sub-menu li a { display: block; line-height: 30px; padding: 5px 15px; text-transform: capitalize;
            color: #717171;}

        .sub-menu li.active a, .sub-menu li:hover a { color: #00c8fa; }



        section.container {
            margin-bottom: 40px;
            margin-top: 20px;
        }
    </style>
    <section class="container">
        <div class="panel-body">
            <div class="search-content">
                <div class="search-control-wrapper">
                    <form action="pages-search-results.html">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control js-user-search" type="text">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="search-toolbar">
                    <ul class="list-unstyled nav nav-pills">
                        <li class="active">
                            <a href="#everything" data-toggle="tab">Evenements</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div id="everything" class="tab-pane active">
                        <p class="total-results text-muted"></p>
                        <ul class="list-unstyled search-results-list" >

                            <div id="entitiesNav">
                            </div>


                            <script src="{{ absolute_url(asset('assests/vendor/jquery/jquery.js')) }}"></script>
                            <script>
                                $(document).ready(function () {
                                    var searchRequest = null;
                                    $(".js-user-search").keyup(function () {
                                        var minlength = 1;
                                        var that = this;
                                        var value = $(this).val();
                                        var entitySelector = $("#entitiesNav").html('');
                                        if (value.length >= minlength) {
                                            if (searchRequest != null)
                                                searchRequest.abort();
                                            searchRequest = $.ajax({
                                                type: "GET",
                                                url: "{{ path('ajax_search_user') }}",
                                                data: {
                                                    'q': value
                                                },
                                                dataType: "text",
                                                success: function (msg) {
                                                    //we need to check if the value is the same
                                                    if (value == $(that).val()) {
                                                        var result = JSON.parse(msg);
                                                        $.each(result, function (key, arr) {
                                                            $.each(arr, function (id, value) {
                                                                if (key == 'entities') {
                                                                    if (id != 'error') {
                                                                        entitySelector.append(' <li><a href="{{ absolute_url(asset('')) }}app_dev.php/user/evenement/showevent/' + value[3] + '" class="has-thumb">' +
                                                                            '<div class="result-thumb"><img src="{{ absolute_url(asset('files/')) }}' + value[2] + '"/></div>' +
                                                                            '<div class="result-data">' +
                                                                            ' <p class="h3 title text-primary">' + value[0] + '</p>' + ' ' +
                                                                            '<p class="description">' + value[1] + '</p>' +
                                                                            '</div></a></li>');
                                                                    } else {
                                                                        entitySelector.append('<li class="errorLi">' + value + '</li>');
                                                                    }
                                                                }
                                                            });
                                                        });
                                                    }
                                                }
                                            });
                                        }
                                    });
                                });

                            </script>
                        </ul>

                        <hr class="solid mb-none" />
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script src="{{ absolute_url(asset('assests/vendor/jquery/jquery.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-browser-mobile/jquery.browser.mobile.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap/js/bootstrap.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/nanoscroller/nanoscroller.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/magnific-popup/jquery.magnific-popup.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-placeholder/jquery-placeholder.js')) }}"></script>
    <!-- Specific Page Vendor -->
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables/media/js/jquery.dataTables.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables-bs3/assets/js/datatables.js')) }}"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.js')) }}"></script>
    <!-- Theme Custom -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.custom.js')) }}"></script>
    <!-- Theme Initialization Files -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.init.js')) }}"></script>
    <!-- Examples -->
    <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.default.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.row.with.details.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.tabletools.js')) }}"></script>

    <script src="{{ absolute_url(asset('assests/vendor/bootstrap-confirmation/bootstrap-confirmation.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/javascripts/forms/examples.advanced.form.js')) }}"></script>
{% endblock %}