{% extends "userFront.html.twig" %}
{% block title %}Evenements{% endblock %}
{% block stylecss %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/owl.carousel/assets/owl.carousel.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/styleinitShow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/styleShow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/owl.carousel/assets/owl.theme.default.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/bootstrap/css/bootstrap.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/font-awesome/css/font-awesome.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/magnific-popup/magnific-popup.css')) }}" />

    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/theme.css')) }}" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/skins/default.css')) }}" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/theme-custom.css')) }}">

{% endblock %}
{% block breakingnews %}
    <!-- Breaking News Section Start -->
    <style>
        .blog-section{
            background: #ecedf0;
            padding-top: 20px;
            margin-top: 0;
        }
    </style>
    <div class="breaking-news-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Breaking News Wrapper Start -->
                    <div class="breaking-news-wrapper">

                        <!-- Breaking News Title -->
                        <h5 class="breaking-news-title float-left">événements</h5>

                        <!-- Breaking Newsticker Start -->
                        <ul class="breaking-news-ticker float-left">
                            {% for event in events %}
                                <li><a href="{{ absolute_url(asset('')) }}app_dev.php/user/evenement/showevent/{{ event.idEvent }}">{{ event.title }}</a></li>
                            {% endfor %}
                        </ul><!-- Breaking Newsticker Start -->

                        <!-- Breaking News Nav -->
                        <div class="breaking-news-nav">
                            <button class="news-ticker-prev"><i class="fa fa-angle-left"></i></button>
                            <button class="news-ticker-next"><i class="fa fa-angle-right"></i></button>
                        </div>

                    </div><!-- Breaking News Wrapper End -->

                </div>
            </div>
        </div>
    </div><!-- Breaking News Section End -->
{% endblock %}
{% block body %}
    <style>

        .sub-menu li { display: block; border-bottom: 1px solid #f1f1f1; }

        .sub-menu li a { display: block; line-height: 30px; padding: 5px 15px; text-transform: capitalize;
            color: #717171;}

        .sub-menu li.active a, .sub-menu li:hover a { color: #00c8fa; }



        section.container {
            margin-bottom: 40px;
            margin-top: 20px;
        }
    </style>
    <section class="container">
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-default">
                <thead>
                <tr>
                    <th>Photo</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Date Debut</th>
                    <th>Date Fin</th>
                    <th>Ville</th>
                    <th>Creator</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for event in user.idEvent %}
                    <tr>
                        <td><img src="{{ absolute_url(asset('files/')) }}{{ event.media }}" width="40" height="40"  /></td>
                        <td>{{ event.title }}</td>
                        <td>{{ event.type }}</td>
                        <td>{{ event.dateStart|date}}</td>
                        <td>{{ event.dateFin|date}}</td>
                        <td>{{ event.ville }}</td>
                        <td>
                            {% if event.idAdmin == NULL %}
                                {% for part in event.idPartenaire %}
                                    {% if loop.first %}
                                        {{ part.nom }}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <img src="{{ absolute_url(asset('files/Alesco.jpg')) }}" width="35" height="35"  title="Alecso"/>
                            {% endif %}
                        </td>
                        <td>
                            <center>
                                <a href="{{ absolute_url(asset('')) }}app_dev.php/user/evenement/showevent/{{ event.idEvent }}" class="btn btn-success btn-xs ml-1">Afficher</a>
                                {% if event.dateFin > time %}
                                <a href="{{ absolute_url(asset('')) }}app_dev.php/user/evenement/annuler/{{ event.idEvent }}" class="btn btn-warning btn-xs ml-1">Annuler Participation</a>
                                {% else %}
                                <a href="#" class="btn btn-warning btn-xs ml-1" disabled>Annuler Participation</a>
                                {% endif %}
                            </center>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>No Records Found!</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </section>
{% endblock %}
       {% block javascript %}
           <script src="{{ absolute_url(asset('assests/vendor/jquery/jquery.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/vendor/jquery-browser-mobile/jquery.browser.mobile.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/vendor/bootstrap/js/bootstrap.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/vendor/nanoscroller/nanoscroller.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/vendor/magnific-popup/jquery.magnific-popup.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/vendor/jquery-placeholder/jquery-placeholder.js')) }}"></script>
           <!-- Specific Page Vendor -->
           <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables/media/js/jquery.dataTables.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables-bs3/assets/js/datatables.js')) }}"></script>
           <!-- Theme Base, Components and Settings -->
           <script src="{{ absolute_url(asset('assests/javascripts/theme.js')) }}"></script>
           <!-- Theme Custom -->
           <script src="{{ absolute_url(asset('assests/javascripts/theme.custom.js')) }}"></script>
           <!-- Theme Initialization Files -->
           <script src="{{ absolute_url(asset('assests/javascripts/theme.init.js')) }}"></script>
           <!-- Examples -->
           <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.default.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.row.with.details.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.tabletools.js')) }}"></script>

           <script src="{{ absolute_url(asset('assests/vendor/bootstrap-confirmation/bootstrap-confirmation.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/javascripts/forms/examples.advanced.form.js')) }}"></script>
       {% endblock %}