{% extends "adminBack.html.twig" %}
{% block title %}Statistiques des Evenemets{% endblock %}
{% block pagetitle %}Statistique {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6 col-lg-12 col-xl-6">
            <section class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="chart-data-selector" id="salesSelectorWrapper">
                                <h2>
                                    Sales:
                                    <strong>Porto Admin</strong>
                                </h2>
                                <div id="salesSelectorItems" class="chart-data-selector-items mt-sm">
                                    <!-- Flot: Sales Porto Admin -->
                                    <div class="chart chart-sm" data-sales-rel="Porto Admin" id="flotDashSales1" class="chart-active"></div>
                                    <script>

                                        var flotDashSales1Data = [{
                                            data: [
                                                ["{{ time1|date("d/m") }}", {{ nb1 }}],
                                                ["{{ time2|date("d/m") }}", {{ nb2 }}],
                                                ["{{ time3|date("d/m") }}", {{ nb3 }}],
                                                ["{{ time4|date("d/m") }}", {{ nb4 }}],
                                                ["{{ time5|date("d/m") }}", {{ nb5 }}],
                                                ["{{ time6|date("d/m") }}", {{ nb6 }}],
                                                ["{{ time7|date("d/m") }}", {{ nb7 }}],
                                            ],
                                            color: "#0088cc"
                                        }];

                                        // See: assets/javascripts/dashboard/examples.dashboard.js for more settings.

                                    </script>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 text-center">
                            <h2 class="panel-title mt-md">Moyenne De Participation</h2>
                            <div class="liquid-meter-wrapper liquid-meter-sm mt-lg">
                                <div class="liquid-meter">
                                    <meter min="0" max="100" value="{{ nbrTotal }}" id="meterSales"></meter>
                                </div>
                                <div class="liquid-meter-selector" id="meterSalesSel">
                                    <h6 href="#" class="active">Per Evenement</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-6 col-lg-12 col-xl-6">
            <div class="row">
                <div class="col-md-12 col-lg-6 col-xl-6">
                    <section class="panel panel-featured-left panel-featured-primary">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-calendar-check-o" style="padding-top: 22px"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Evenements Crees Par Alecso </h4>
                                        <div class="info">
                                            <strong class="amount">{{ eventnbradmin }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6">
                    <section class="panel panel-featured-left panel-featured-secondary">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-secondary">
                                        <i class="fa fa-calendar-check-o" style="padding-top: 22px"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Evenements Crees Par Partenaire</h4>
                                        <div class="info">
                                            <strong class="amount">{{ eventnbrpart }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </div>





{% endblock %}
{% block javascript %}
    <!-- Vendor -->
    <script src="{{ absolute_url(asset('assests/vendor/jquery/jquery.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-browser-mobile/jquery.browser.mobile.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap/js/bootstrap.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/nanoscroller/nanoscroller.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/magnific-popup/jquery.magnific-popup.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-placeholder/jquery-placeholder.js')) }}"></script>
    <!-- Specific Page Vendor -->



    <script src="{{ absolute_url(asset('assests/vendor/jquery-ui/jquery-ui.js')) }}"></script>

    <script src="{{ absolute_url(asset('assests/vendor/jquery-appear/jquery-appear.js')) }}"></script>

    <script src="{{ absolute_url(asset('assests/vendor/flot/jquery.flot.js')) }}"></script>

    <script src="{{ absolute_url(asset('assests/vendor/flot.tooltip/flot.tooltip.js')) }}"></script>

    <script src="{{ absolute_url(asset('assests/vendor/flot/jquery.flot.pie.js')) }}"></script>

    <script src="{{ absolute_url(asset('assests/vendor/flot/jquery.flot.categories.js')) }}"></script>

    <script src="{{ absolute_url(asset('assests/vendor/flot/jquery.flot.resize.js')) }}"></script>

    <script src="{{ absolute_url(asset('assests/vendor/snap.svg/snap.svg.js')) }}"></script>

    <script src="{{ absolute_url(asset('assests/vendor/liquid-meter/liquid.meter.js')) }}"></script>









    <!-- Theme Base, Components and Settings -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.js')) }}"></script>
    <!-- Theme Custom -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.custom.js')) }}"></script>
    <!-- Theme Initialization Files -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.init.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/javascripts/dashboard/examples.dashboard.js')) }}"></script>
{% endblock %}