{% extends "partenaireBack.html.twig" %}
{% block title %}Index{% endblock %}
{% block pagetitle %}Index Partenaire{% endblock %}
{% block body %}

{% endblock %}
{% block javascript %}
    <!-- Vendor -->
    <script src="{{ absolute_url(asset('assests/vendor/jquery/jquery.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-browser-mobile/jquery.browser.mobile.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap/js/bootstrap.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/nanoscroller/nanoscroller.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/magnific-popup/jquery.magnific-popup.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-placeholder/jquery-placeholder.js')) }}"></script>
    <!-- Specific Page Vendor -->
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables/media/js/jquery.dataTables.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables-bs3/assets/js/datatables.js')) }}"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.js')) }}"></script>
    <!-- Theme Custom -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.custom.js')) }}"></script>
    <!-- Theme Initialization Files -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.init.js')) }}"></script>
    <!-- Examples -->
    <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.default.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.row.with.details.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.tabletools.js')) }}"></script>
{% endblock %}