{% extends "partenaireBack.html.twig" %}
{% block title %}Modifier Offre{% endblock %}
{% block pagetitle %}Modifier Offre : {% endblock %}
{% block barebutton %}
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="{{ absolute_url(asset('')) }}app_dev.php/offres/partenaire/offre/view">
                    <span class="h4"> Gestion des Offres </span> <i class="fa fa-wrench"></i>
                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                {{ form_start(form) }}
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    </div>
                    <h2 class="panel-title">Changer un offre </h2>
                </header>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Titre </label>
                        <div class="col-md-6">
                            {{ form_row(form.title , {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputSuccess">Type</label>
                        <div class="col-md-6">
                            {{ form_row(form.type , {'attr':{'class':'form-control mb-md'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputSuccess">Categorie</label>
                        <div class="col-md-6">
                            {{ form_row(form.categorie , {'attr':{'class':'form-control mb-md'}}) }}
                        </div>
                    </div>
                    <div class="form-group">

                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputHelpText">Description</label>
                        <div class="col-md-6">
                            {{ form_row(form.description , {'attr':{'class':'form-control mb-md' ,'placeholder':'Type your message'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputRounded">Date Debut</label>
                        <div class="col-md-6">
                            {{ form_row(form.date_create) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputRounded">Date Fin</label>
                        <div class="col-md-6">

                            {{ form_row(form.date_fin) }}

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputPlaceholder">Ville</label>
                        <div class="col-md-6">

                            {{ form_row(form.ville , {'attr':{'class':'form-control mb-md'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Adresse</label>
                        <div class="col-md-6">
                            {{ form_row(form.adresse , {'attr':{'class':'form-control mb-md'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Code Postal</label>
                        <div class="col-md-6">
                            {{ form_row(form.code_post , {'attr':{'class':'form-control mb-md'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="profileBio">Images</label>
                        <div class="col-md-8">
                            <span class="btn btn-default btn-file">
                                {{ form_row(form.media , {'attr':{'class':'form-control'}}) }}
                            </span>
                        </div>
                    </div>


                </div>
                <div class="panel-footer">
                    <div class="row">

                        <div class="col-md-9 col-md-offset-8">
                            <input type="submit" value="Modifier" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </section>

        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- Vendor -->
    <script src="{{ absolute_url(asset('assests/vendor/jquery/jquery.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-browser-mobile/jquery.browser.mobile.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap/js/bootstrap.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/nanoscroller/nanoscroller.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/magnific-popup/jquery.magnific-popup.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-placeholder/jquery-placeholder.js')) }}"></script>
    <!-- Specific Page Vendor -->
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables/media/js/jquery.dataTables.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables-bs3/assets/js/datatables.js')) }}"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.js')) }}"></script>
    <!-- Theme Custom -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.custom.js')) }}"></script>
    <!-- Theme Initialization Files -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.init.js')) }}"></script>
    <!-- Examples -->
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.row.with.details.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/autosize/autosize.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js')) }}"></script>
{% endblock %}