{% extends "userFront.html.twig" %}
{% block title %}Offres{% endblock %}
{% block stylecss %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/owl.carousel/assets/owl.carousel.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/styleinitShow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/styleShow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/owl.carousel/assets/owl.theme.default.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/bootstrap/css/bootstrap.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/font-awesome/css/font-awesome.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/magnific-popup/magnific-popup.css')) }}" />

    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/theme.css')) }}" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/skins/default.css')) }}" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/theme-custom.css')) }}">

{% endblock %}
{% block breakingnews %}
    <!-- Breaking News Section Start -->
    <style>
        .blog-section{
            background: #ecedf0;
            padding-top: 20px;
            margin-top: 0;
        }
    </style>
    <div class="breaking-news-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Breaking News Wrapper Start -->
                    <div class="breaking-news-wrapper">

                        <!-- Breaking News Title -->


                        <ul class="breaking-news-ticker float-left">
                            <h5 class="breaking-news-title float-left">Cv En Ligne</h5>
                        </ul><!-- Breaking Newsticker Start -->

                        <!-- Breaking Newsticker Start -->
                        <ul class="breaking-news-ticker float-left">

                        </ul><!-- Breaking Newsticker Start -->

                        <!-- Breaking News Nav -->
                        <div class="breaking-news-nav">
                            <button class="news-ticker-prev"><i class="fa fa-angle-left"></i></button>
                            <button class="news-ticker-next"><i class="fa fa-angle-right"></i></button>
                        </div>


                    </div><!-- Breaking News Wrapper End -->


                </div>
            </div>
        </div>
    </div><!-- Breaking News Section End -->
{% endblock %}

{% block body %}
    <div class="row">

             <div class="col-lg-12">
                 <section class="panel">
                     {{ form_start(form) }}
                     <header class="panel-heading">
                         <div class="panel-actions">
                             <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                         </div>
                         <h2 class="panel-title">Cv en ligne</h2>
                     </header>
                     <div class="panel-body">

                         <div class="form-group">
                             <label class="col-md-3 control-label" for="inputDefault">nom </label>
                             <div class="col-md-6">
                                 {{ form_row(form.nom , {'attr':{'class':'form-control'}}) }}
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-md-3 control-label" for="inputSuccess">prenom</label>
                             <div class="col-md-6">
                                 {{ form_row(form.prenom, {'attr':{'class':'form-control mb-md'}}) }}
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-md-3 control-label" for="inputHelpText">Description</label>
                             <div class="col-md-6">
                                 {{ form_row(form.description , {'attr':{'class':'form-control mb-md' ,'placeholder':'Type your message'}}) }}
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-md-3 control-label" for="inputHelpText">Diplome</label>
                             <div class="col-md-6">
                                 {{ form_row(form.diplome , {'attr':{'class':'form-control mb-md' ,'placeholder':'Type your message'}}) }}
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-md-3 control-label" for="inputHelpText">E-mail</label>
                             <div class="col-md-6">
                                 {{ form_row(form.adresse_email , {'attr':{'class':'form-control mb-md' ,'placeholder':'Type your message'}}) }}
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-md-3 control-label" for="inputRounded">Date de naissance</label>
                             <div class="col-md-6">
                                 {{ form_row(form.date_naissance) }}
                             </div>
                         </div>

                         <div class="form-group">
                             <label class="col-md-3 control-label" for="inputRounded">sexe</label>
                             <div class="col-md-6">

                                 {{ form_row(form.gender) }}

                             </div>
                         </div>


                         <div class="form-group">
                             <label class="col-md-3 control-label" for="inputPlaceholder">Ville</label>
                             <div class="col-md-6">

                                 {{ form_row(form.ville , {'attr':{'class':'form-control mb-md'}}) }}
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-md-3 control-label" for="inputDefault">Adresse</label>
                             <div class="col-md-6">
                                 {{ form_row(form.adresse , {'attr':{'class':'form-control mb-md'}}) }}
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-md-3 control-label" for="inputDefault">Code Postale</label>
                             <div class="col-md-6">
                                 {{ form_row(form.code_postale , {'attr':{'class':'form-control mb-md'}}) }}
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-md-3 control-label" for="inputDefault">Telephone Mobile</label>
                             <div class="col-md-6">
                                 {{ form_row(form.tel_mobile , {'attr':{'class':'form-control mb-md'}}) }}
                             </div>
                         </div>
                         <div class="form-group">
                             <label class="col-md-3 control-label" for="profileBio">photo</label>
                             <div class="col-md-8">
                            <span class="btn btn-default btn-file">
                                {{ form_row(form.photo , {'attr':{'class':'form-control'}}) }}
                            </span>
                             </div>
                         </div>
                     </div>
                     <div class="panel-footer">
                         <div class="row">

                             <div class="col-md-9 col-md-offset-8">
                                 <input type="submit" value="Envoyer" class="btn btn-primary"/>
                             </div>
                         </div>
                     </div>
                     {{ form_end(form) }}
                 </section>
             </div>
    </div>
{% endblock %}
       {% block javascript %}
           <!-- Vendor -->


           <script src="{{ absolute_url(asset('assests/vendor/jquery/jquery.js')) }}"></script>

           <script src="{{ absolute_url(asset('assests/vendor/jquery-browser-mobile/jquery.browser.mobile.js')) }}"></script>

           <script src="{{ absolute_url(asset('assests/vendor/bootstrap/js/bootstrap.js')) }}"></script>

           <script src="{{ absolute_url(asset('assests/vendor/nanoscroller/nanoscroller.js')) }}"></script>

           <script src="{{ absolute_url(asset('assests/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js')) }}"></script>

           <script src="{{ absolute_url(asset('assests/vendor/magnific-popup/jquery.magnific-popup.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/vendor/jquery-placeholder/jquery-placeholder.js')) }}"></script>
           <!-- Specific Page Vendor -->
           <script src="{{ absolute_url(asset('assests/vendor/jquery-appear/jquery-appear.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/vendor/owl.carousel/owl.carousel.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/vendor/isotope/isotope.js')) }}"></script>
           <!-- Theme Base, Components and Settings -->
           <script src="{{ absolute_url(asset('assests/javascripts/theme.js')) }}"></script>
           <!-- Theme Custom -->
           <script src="{{ absolute_url(asset('assests/javascripts/theme.custom.js')) }}"></script>
           <!-- Theme Initialization Files -->
           <script src="{{ absolute_url(asset('assests/javascripts/theme.init.js')) }}"></script>
           <!-- Examples -->
           <script src="{{ absolute_url(asset('assests/javascripts/dashboard/examples.landing.dashboard.js')) }}"></script>


       {% endblock %}