{% extends "userFront.html.twig" %}
{% block title %}Envoyer Mail{% endblock %}
{% block stylecss %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/owl.carousel/assets/owl.carousel.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/styleinitShow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/styleShow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/owl.carousel/assets/owl.theme.default.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/bootstrap/css/bootstrap.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/font-awesome/css/font-awesome.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/magnific-popup/magnific-popup.css')) }}" />

    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/theme.css')) }}" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/skins/default.css')) }}" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/theme-custom.css')) }}">

{% endblock %}
{% block breakingnews %}
    <!-- Breaking News Section Start -->
    <style>
        .blog-section{
            background: #ecedf0;
            padding-top: 20px;
            margin-top: 0;
        }
    </style>
    <div class="breaking-news-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Breaking News Wrapper Start -->
                    <div class="breaking-news-wrapper">

                        <!-- Breaking News Title -->
                        <h5 class="breaking-news-title float-left">Envoyer Mail</h5>
                        <!-- Breaking Newsticker Start -->
                        <ul class="breaking-news-ticker float-left">
                            {% for dmoffre in dmoffres %}
                                <li><a href="{{ absolute_url(asset('')) }}app_dev.php/user/offre/show/{{ dmoffre.idOffre }}"></a></li>

                            {% endfor %}

                        </ul><!-- Breaking Newsticker Start -->

                        <!-- Breaking News Nav -->
                        <div class="breaking-news-nav">
                            <button class="news-ticker-prev"><i class="fa fa-angle-left"></i></button>
                            <button class="news-ticker-next"><i class="fa fa-angle-right"></i></button>
                        </div>
                    </div><!-- Breaking News Wrapper End -->
                </div>
            </div>
        </div>
    </div><!-- Breaking News Section End -->
{% endblock %}

{% block body %}
<div class="row">
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Compose</h2>

            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a href="index.html">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li><span>Mailbox</span></li>
                    <li><span>Compose</span></li>
                </ol>

                <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
            </div>
        </header>
    <section class="content-with-menu content-with-menu-has-toolbar mailbox">
        <div class="content-with-menu-container" data-mailbox data-mailbox-view="compose">
    <div class="inner-body">
        <div class="inner-toolbar clearfix">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-send-o mr-sm"></i> Send</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-times mr-sm"></i> Discard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-paperclip mr-sm"></i> Attach</a>
                </li>
            </ul>
        </div>
    <div class="mailbox-compose">
        <form class="form-horizontal form-bordered form-bordered">

            <div class="form-group form-group-invisible">
                <label for="to" class="control-label-invisible">To:</label>
                <div class="col-sm-offset-2 col-sm-9 col-md-offset-1 col-md-10">
                    <input id="to" type="text" class="form-control form-control-invisible" data-role="tagsinput" data-tag-class="label label-primary" value="">
                </div>
            </div>

            <div class="form-group form-group-invisible">
                <label for="cc" class="control-label-invisible">CC:</label>
                <div class="col-sm-offset-2 col-sm-9 col-md-offset-1 col-md-10">
                    <input id="cc" type="text" class="form-control form-control-invisible" data-role="tagsinput" data-tag-class="label label-primary" value="">
                </div>
            </div>

            <div class="form-group form-group-invisible">
                <label for="subject" class="control-label-invisible">Subject:</label>
                <div class="col-sm-offset-2 col-sm-9 col-md-offset-1 col-md-10">
                    <input id="subject" type="text" class="form-control form-control-invisible" value="">
                </div>
            </div>
            <center>
                <a href="{{ absolute_url(asset('')) }}app_dev.php/offres/user/demande/mail/" class="btn btn-success btn-xs ml-1">Envoyer</a>
            </center>


            <div class="form-group">
                <div class="compose">
                    <div id="compose-field" class="compose-control">
                    </div>
                </div>
            </div>
        </form>
      </div>
    </div>
        </div>
    </section>
    </section>
</div>


{% endblock %}
{% block javascript %}
    <script src="{{ absolute_url(asset('assests/vendor/jquery/jquery.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-browser-mobile/jquery.browser.mobile.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap/js/bootstrap.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/nanoscroller/nanoscroller.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/magnific-popup/jquery.magnific-popup.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-placeholder/jquery-placeholder.js')) }}"></script>
    <!-- Specific Page Vendor -->
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables/media/js/jquery.dataTables.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables-bs3/assets/js/datatables.js')) }}"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.js')) }}"></script>
    <!-- Theme Custom -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.custom.js')) }}"></script>
    <!-- Theme Initialization Files -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.init.js')) }}"></script>
    <!-- Examples -->
    <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.default.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.row.with.details.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.tabletools.js')) }}"></script>

    <script src="{{ absolute_url(asset('assests/vendor/bootstrap-confirmation/bootstrap-confirmation.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/javascripts/forms/examples.advanced.form.js')) }}"></script>

    <!-- Vendor -->
    <script src="{{ absolute_url(asset('assets/vendor/jquery/jquery.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/vendor/bootstrap/js/bootstrap.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/vendor/nanoscroller/nanoscroller.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/vendor/magnific-popup/jquery.magnific-popup.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/vendor/jquery-placeholder/jquery-placeholder.js')) }}"></script>

    <!-- Specific Page Vendor -->
    <script src="{{ absolute_url(asset('assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/vendor/summernote/summernote.js')) }}"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="{{ absolute_url(asset('assets/javascripts/theme.js')) }}"></script>

    <!-- Theme Custom -->
    <script src="{{ absolute_url(asset('assets/javascripts/theme.custom.js')) }}"></script>

    <!-- Theme Initialization Files -->
    <script src="{{ absolute_url(asset('assets/javascripts/theme.init.js')) }}"></script>

{% endblock %}
