{% extends "userFront.html.twig" %}
{% block title %}cv{% endblock %}
{% block stylecss %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/owl.carousel/assets/owl.carousel.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/styleinitShow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/styleShow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/owl.carousel/assets/owl.theme.default.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/bootstrap/css/bootstrap.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/font-awesome/css/font-awesome.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/magnific-popup/magnific-popup.css')) }}" />

    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/theme.css')) }}" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/skins/default.css')) }}" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/theme-custom.css')) }}">

{% endblock %}
{% block breakingnews %}
    <!-- Breaking News Section Start -->
    <style>
        .blog-section{
            background: #ecedf0;
            padding-top: 20px;
            margin-top: 0;
        }
    </style>
    <div class="breaking-news-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Breaking News Wrapper Start -->
                    <div class="breaking-news-wrapper">

                        <!-- Breaking News Title -->
                        <h5 class="breaking-news-title float-left">cv</h5>
                        <!-- Breaking Newsticker Start -->
                        <ul class="breaking-news-ticker float-left">
                            {% for cv in cvs %}
                                <li><a href="{{ absolute_url(asset('')) }}app_dev.php/offres/user/cv/show/{{ cv.idCv }}">{{ cv.diplome }}</a></li>
                            {% endfor %}
                        </ul><!-- Breaking Newsticker Start -->

                        <!-- Breaking News Nav -->
                        <div class="breaking-news-nav">
                            <button class="news-ticker-prev"><i class="fa fa-angle-left"></i></button>
                            <button class="news-ticker-next"><i class="fa fa-angle-right"></i></button>
                        </div>


                    </div><!-- Breaking News Wrapper End -->


                </div>
            </div>
        </div>
    </div><!-- Breaking News Section End -->
{% endblock %}
{% block body %}
    <div class="row">
        {% for cv in cvs %}

        <div class="col-md-8 col-lg-6">
            <section class="panel panel-featured">
                <div class="tabs">
                    <div class="tab-content">
                        <div id="overview" class="tab-pane active">
                            <div class="thumb-info mb-md">
                                <img src="{{ absolute_url(asset('files/')) }}{{ cv.photo }}" class="rounded img-responsive" alt="John Doe">
                                <div class="thumb-info-title">
                                    <span class="thumb-info-inner">{{ cv.diplome }}</span>
                                </div>
                            </div>
                            <h4 class="mb-md">Nom d'offre : {{ cv.diplome }}</h4>
                            <div class="widget-toggle-expand mb-md">
                                <div class="widget-header">
                                    <h6>Information</h6>
                                    <div class="widget-toggle">+</div>
                                </div>
                                <div class="widget-content-expanded">
                                    <ul class="simple-todo-list">
                                        <li>nom d'utilisateur : {{ cv.nom }}</li>

                                        <li>Date De Naissance : {{ cv.dateNaissance|date }}</li>
                                        <hr class="dotted short">
                                        <li>Ville : {{ cv.ville }}</li>
                                        <li>Adresse : {{ cv.adresse }}</li>
                                        <li>Code Postale : {{ cv.codePostale}}</li>
                                    </ul>
                                </div>

                            </div>

                            <hr class="dotted short">

                            <h6 class="text-muted">Description</h6>
                            <p>{{ cv.description }}</p>

                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-8 col-lg-6">
            <section class="panel panel-featured">
                <div class="tabs">
                    <div class="tab-content">
                        <div id="overview" class="tab-pane active">
                            <div class="thumb-info mb-md">
                                <!-- Envoyer demande-->
                                <center>
                                    <a href="{{ absolute_url(asset('')) }}app_dev.php/offres/user/cv/updateCv/{{ cv.idCv }}" class="btn btn-success btn-xs ml-1">Modifier</a>
                                    <a href="{{ absolute_url(asset('')) }}app_dev.php/offres/user/cv/deleteCv/{{ cv.idCv }}" class="btn btn-success btn-xs ml-1">Supprimer</a>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {% endfor %}
    </div>






{% endblock %}
       {% block javascript %}
           <!-- Vendor -->


           <script src="{{ absolute_url(asset('assests/vendor/jquery/jquery.js')) }}"></script>

           <script src="{{ absolute_url(asset('assests/vendor/jquery-browser-mobile/jquery.browser.mobile.js')) }}"></script>

           <script src="{{ absolute_url(asset('assests/vendor/bootstrap/js/bootstrap.js')) }}"></script>

           <script src="{{ absolute_url(asset('assests/vendor/nanoscroller/nanoscroller.js')) }}"></script>

           <script src="{{ absolute_url(asset('assests/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js')) }}"></script>

           <script src="{{ absolute_url(asset('assests/vendor/magnific-popup/jquery.magnific-popup.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/vendor/jquery-placeholder/jquery-placeholder.js')) }}"></script>
           <!-- Specific Page Vendor -->
           <script src="{{ absolute_url(asset('assests/vendor/jquery-appear/jquery-appear.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/vendor/owl.carousel/owl.carousel.js')) }}"></script>
           <script src="{{ absolute_url(asset('assests/vendor/isotope/isotope.js')) }}"></script>
           <!-- Theme Base, Components and Settings -->
           <script src="{{ absolute_url(asset('assests/javascripts/theme.js')) }}"></script>
           <!-- Theme Custom -->
           <script src="{{ absolute_url(asset('assests/javascripts/theme.custom.js')) }}"></script>
           <!-- Theme Initialization Files -->
           <script src="{{ absolute_url(asset('assests/javascripts/theme.init.js')) }}"></script>
           <!-- Examples -->
           <script src="{{ absolute_url(asset('assests/javascripts/dashboard/examples.landing.dashboard.js')) }}"></script>


       {% endblock %}