{% extends "userFront.html.twig" %}
{% block title %}Offres{% endblock %}
{% block stylecss %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/owl.carousel/assets/owl.carousel.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/styleinitShow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/front/style/styleShow.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/owl.carousel/assets/owl.theme.default.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/bootstrap/css/bootstrap.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/font-awesome/css/font-awesome.css')) }}" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/vendor/magnific-popup/magnific-popup.css')) }}" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/skins/default.css')) }}" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assests/stylesheets/theme-custom.css')) }}">

{% endblock %}
{% block breakingnews %}
    <!-- Breaking News Section Start -->

    <div class="breaking-news-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Breaking News Wrapper Start -->
                    <div class="breaking-news-wrapper">

                        <!-- Breaking News Title -->
                        <h5 class="breaking-news-title float-left">Les Offres </h5>


                        <!-- Breaking Newsticker Start -->
                        <ul class="breaking-news-ticker float-left">
                            {% for offre in offres %}
                                <li><a href="{{ absolute_url(asset('')) }}app_dev.php/offres/user/offre/show/{{offre.idOffre }}">{{ offre.title }}</a></li>
                            {% endfor %}
                        </ul>

                        <!-- Breaking News Nav -->
                        <div class="breaking-news-nav">
                            <button class="news-ticker-prev"><i class="fa fa-angle-left"></i></button>
                            <button class="news-ticker-next"><i class="fa fa-angle-right"></i></button>
                        </div>

                    </div><!-- Breaking News Wrapper End -->

                </div>
            </div>
        </div>
    </div><!-- Breaking News Section End -->
{% endblock %}


{% block body %}
    <!-- Feature Post Row Start -->
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            {% for offre in offres %}
                <!-- Single Blog Start -->
                <div class="single-blog mb-50">
                    <div class="blog-wrap">

                        <!-- Meta -->
                        <div class="meta fix">
                            {% if offre.idAdmin == NULL %}
                                {% for partenaire in offre.idPartenaire %}
                                    {% if loop.first %}

                                        <a href="#" class="meta-item author"><img src="{{ absolute_url(asset('files/')) }}{{ partenaire.media }} " width="45" height="45"  title="Alecso"/>{{ partenaire.nom }}</a>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <a href="#" class="meta-item author"><img src="{{ absolute_url(asset('files/Alesco.jpg')) }}" width="45" height="45"  title="Alecso"/>Alecso</a>
                            {% endif %}

                            <span class="meta-item date"><i class="fa fa-clock-o"></i>{{ offre.dateCreate|date }}</span>
                            <!-- Read More -->
                            <center>
                                <a href="{{ absolute_url(asset('')) }}app_dev.php/offres/user/offre/showOffre/{{ offre.idOffre }}" class="btn btn-success btn-xs ml-1">Voir Plus</a>
                            </center>
                        </div>

                        <!-- Title -->
                        <h3 class="title"><a href="{{ absolute_url(asset('')) }}app_dev.php/offres/user/offre/show/{{ offre.idOffre }}">{{ offre.title }}</a></h3>

                        <!-- Image -->
                        <a href="{{ absolute_url(asset('')) }}app_dev.php/offres/user/offre/show/{{ offre.idOffre }}" class="image"><img src="{{ absolute_url(asset('files/')) }}{{ offre.media }}" alt="post"></a>

                        <!-- Content -->
                        <div class="content">

                            <!-- Description -->
                            <p>{{ offre.description }}</p>
                            <br>
                        </div>

                    </div>
                </div><!-- Single Blog End -->
            {% else %}
                <p>No Records Found!</p>
            {% endfor %}



        </div>
    </div><!-- Feature Post Row End -->
{% endblock %}
{% block javascript %}
    <script src="{{ absolute_url(asset('assests/vendor/jquery/jquery.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-browser-mobile/jquery.browser.mobile.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap/js/bootstrap.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/nanoscroller/nanoscroller.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/magnific-popup/jquery.magnific-popup.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-placeholder/jquery-placeholder.js')) }}"></script>
    <!-- Specific Page Vendor -->
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables/media/js/jquery.dataTables.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables-bs3/assets/js/datatables.js')) }}"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.js')) }}"></script>
    <!-- Theme Custom -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.custom.js')) }}"></script>
    <!-- Theme Initialization Files -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.init.js')) }}"></script>
    <!-- Examples -->
    <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.default.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.row.with.details.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.tabletools.js')) }}"></script>

    <script src="{{ absolute_url(asset('assests/vendor/bootstrap-confirmation/bootstrap-confirmation.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/javascripts/forms/examples.advanced.form.js')) }}"></script>
{% endblock %}
