{% extends "partenaireBack.html.twig" %}
{% block title %}Ajouter Un Nouveau Evenement{% endblock %}
{% block pagetitle %}Ajouter Un Nouveau Evenement : {% endblock %}
{% block barebutton %}
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="{{ absolute_url(asset('')) }}app_dev.php/partenaire/evenement/view">
                    <span class="h4"> Gestion des Evenements </span> <i class="fa fa-wrench"></i>
                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
{% endblock %}
{% block body %}
    <script>
        function validate() {

            var currentDate = new Date()
            var day = currentDate.getDate()
            var month = currentDate.getMonth() + 1
            var year = currentDate.getFullYear()

            var hour = currentDate.getHours();
            var min = currentDate.getMinutes();
            var validdate = false;
            var validdate2 = false;


            var date_debut_day = parseInt(document.getElementById("form_date_start_date_day").value) ;
            var date_debut_month = parseInt(document.getElementById("form_date_start_date_month").value) ;
            var date_debut_years = parseInt(document.getElementById("form_date_start_date_year").value) ;

            var date_debut_hour = parseInt(document.getElementById("form_date_start_time_hour").value) ;
            //var date_debut_min = parseInt(document.getElementById("form_date_start_time_minute").value) ;


            if(date_debut_years > year){
                validdate = true

            }else if (date_debut_years == year) {
                if(date_debut_month > month){
                    validdate = true
                }else if(date_debut_month == month){
                    if(date_debut_day >= day){
                        if(date_debut_hour >= hour ){
                            validdate = true
                        }
                    }
                }
            }

            if(!validdate){
                alert('Date Debut Invalide');
            }

            var date_fin_day =  parseInt(document.getElementById("form_date_fin_date_day").value) ;
            var date_fin_month = parseInt(document.getElementById("form_date_fin_date_month").value) ;
            var date_fin_years = parseInt(document.getElementById("form_date_fin_date_year").value) ;

            var date_fin_hour = parseInt(document.getElementById("form_date_fin_time_hour").value) ;
            //var date_fin_min = parseInt(document.getElementById("form_date_fin_time_minute").value) ;



            if(date_fin_years > date_debut_years){
                validdate2 = true
            }else if (date_fin_years == date_debut_years) {
                if(date_fin_month > date_debut_month){
                    validdate2 = true
                }else if(date_fin_month == date_debut_month){
                    if(date_fin_day > date_debut_day) {
                        validdate2 = true
                    }else if(date_fin_day == date_debut_day){
                        if(date_fin_hour >= date_debut_hour+2 ){
                            validdate2 = true
                        }
                    }
                }
            }
            if(!validdate2){
                alert('Date Fin Invalide');
            }

            //alert(day + "/" + month + "/" + year + " | "+hour+":"+ min);
            return validdate && validdate2;
        }
    </script>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                {{ form_start(form) }}
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    </div>
                    <h2 class="panel-title">Ajouter Nouveau Evenement</h2>
                </header>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Event Title</label>
                        <div class="col-md-6">
                            {{ form_row(form.title , {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputSuccess">Type</label>
                        <div class="col-md-6">
                            {{ form_row(form.type , {'attr':{'class':'form-control mb-md'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputSuccess">Nombre Max des participants [MAX 1000]</label>
                        <div class="col-md-6">
                            {{ form_row(form.nbr_part , {'attr':{'class':'form-control mb-md'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputHelpText">Description</label>
                        <div class="col-md-6">
                            {{ form_row(form.description , {'attr':{'class':'form-control mb-md' ,'placeholder':'Type your message'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputRounded">Date Debut</label>
                        <div class="col-md-6">
                            {{ form_row(form.date_start) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputRounded">Date Fin</label>
                        <div class="col-md-6">

                            {{ form_row(form.date_fin) }}

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputPlaceholder">Ville</label>
                        <div class="col-md-6">

                            {{ form_row(form.ville , {'attr':{'class':'form-control mb-md'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Adresse</label>
                        <div class="col-md-6">
                            {{ form_row(form.adresse , {'attr':{'class':'form-control mb-md'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputDefault">Code Postal</label>
                        <div class="col-md-6">
                            {{ form_row(form.code_post , {'attr':{'class':'form-control mb-md'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="profileBio">Images</label>
                        <div class="col-md-8">
                            <span class="btn btn-default btn-file">
                                {{ form_row(form.media , {'attr':{'class':'form-control'}}) }}
                            </span>
                        </div>
                    </div>


                </div>
                <div class="panel-footer">
                    <div class="row">

                        <div class="col-md-9 col-md-offset-8">
                            <input type="submit" value="Submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </section>

        </div>
    </div>

{% endblock %}
{% block javascript %}
    <!-- Vendor -->
    <script src="{{ absolute_url(asset('assests/vendor/jquery/jquery.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-browser-mobile/jquery.browser.mobile.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap/js/bootstrap.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/nanoscroller/nanoscroller.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/magnific-popup/jquery.magnific-popup.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-placeholder/jquery-placeholder.js')) }}"></script>
    <!-- Specific Page Vendor -->
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables/media/js/jquery.dataTables.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/jquery-datatables-bs3/assets/js/datatables.js')) }}"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.js')) }}"></script>
    <!-- Theme Custom -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.custom.js')) }}"></script>
    <!-- Theme Initialization Files -->
    <script src="{{ absolute_url(asset('assests/javascripts/theme.init.js')) }}"></script>
    <!-- Examples -->
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/javascripts/tables/examples.datatables.row.with.details.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/autosize/autosize.js')) }}"></script>
    <script src="{{ absolute_url(asset('assests/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js')) }}"></script>
{% endblock %}